// colors
$blue: #4447d2;
$light-blue: #603de2;
$grey: #d8d8d8;
$text-color: #121212;
$white-color: #ffffff;
$color-grey:#707070;
$box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
$shadowlight: 0px 3px 8px 0px rgb(0 0 0 / 20%);
$gradient: linear-gradient(to right, #9429ff, #4447d2 67%);

//font-family
$font-family: "HelveticaNeue";
$heading-font: "IowanOldSt";
//font-weight
$ultra-light: 100;
$light: 300;
$medium: 500;
$semi-bold: 600;
$bold: 700;
