
<div class="page-content mt-5" style="margin-left: 0 !important">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-heading">Current Bank Rate</h2>
            <select id="single" class="mb-3 w-50">
              <option selected>Choose Bank</option>
              <option value="1">DBS</option>
              <option value="2">Dukascopy</option>
              <option value="3">Tkb</option>
              <option value="4">Crown Agent</option>
            </select>
            <div class="d-flex flex-row align-items-center">
              <div>
                <select class="mb-3 oneborder-select arrow-custom">
                  <option selected>Choose CCY</option>
                  <option value="1">DBS</option>
                  <option value="2">Dukascopy</option>
                  <option value="3">Tkb</option>
                  <option value="4">Crown Agent</option>
                </select>
              </div>
              <div class="date-time ms-4">16 Jun, 8:55 am UTC</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 col-lg-4">
                <div class="currency-card">
                  <div class="currency-header">
                    EUR GBP [XCEL] <a class="close-icon" href=""></a>
                  </div>
                  <div class="currency-content">
                    <div class="currency-content-left">
                      <span class="currency-name"
                        >SELL EUR <img src="./assets/images/flags/aus-flag.svg"
                      /></span>
                      <div class="c-rates text-danger">
                        <span>O.89</span> 19 <span>5</span>
                      </div>
                    </div>
                    <div class="currency-content-left">
                      <span class="currency-name"
                        >Buy EUR <img src="./assets/images/flags/aus-flag.svg"
                      /></span>
                      <div class="c-rates">
                        <span>O.39</span> 14 <span>7</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="currency-card">
                  <div class="currency-header">
                    EUR GBP [XCEL] <a class="close-icon" href=""></a>
                  </div>
                  <div class="currency-content">
                    <div class="currency-content-left">
                      <span class="currency-name"
                        >SELL EUR <img src="./assets/images/flags/aus-flag.svg"
                      /></span>
                      <div class="c-rates text-danger">
                        <span>O.89</span> 19 <span>5</span>
                      </div>
                    </div>
                    <div class="currency-content-left">
                      <span class="currency-name"
                        >Buy EUR <img src="./assets/images/flags/aus-flag.svg"
                      /></span>
                      <div class="c-rates">
                        <span>O.39</span> 14 <span>7</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="currency-card">
                  <div class="currency-header">
                    EUR GBP [XCEL] <a class="close-icon" href=""></a>
                  </div>
                  <div class="currency-content">
                    <div class="currency-content-left">
                      <span class="currency-name"
                        >SELL EUR <img src="./assets/images/flags/aus-flag.svg"
                      /></span>
                      <div class="c-rates text-danger">
                        <span>O.89</span> 19 <span>5</span>
                      </div>
                    </div>
                    <div class="currency-content-left">
                      <span class="currency-name"
                        >Buy EUR <img src="./assets/images/flags/aus-flag.svg"
                      /></span>
                      <div class="c-rates">
                        <span>O.39</span> 14 <span>7</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="currency-card">
                  <div class="currency-header">
                    EUR GBP [XCEL] <a class="close-icon" href=""></a>
                  </div>
                  <div class="currency-content">
                    <div class="currency-content-left">
                      <span class="currency-name"
                        >SELL EUR <img src="./assets/images/flags/aus-flag.svg"
                      /></span>
                      <div class="c-rates text-danger">
                        <span>O.89</span> 19 <span>5</span>
                      </div>
                    </div>
                    <div class="currency-content-left">
                      <span class="currency-name"
                        >Buy EUR <img src="./assets/images/flags/aus-flag.svg"
                      /></span>
                      <div class="c-rates">
                        <span>O.39</span> 14 <span>7</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="currency-card">
                  <div class="currency-header">
                    EUR GBP [XCEL] <a class="close-icon" href=""></a>
                  </div>
                  <div class="currency-content">
                    <div class="currency-content-left">
                      <span class="currency-name"
                        >SELL EUR <img src="./assets/images/flags/aus-flag.svg"
                      /></span>
                      <div class="c-rates text-danger">
                        <span>O.89</span> 19 <span>5</span>
                      </div>
                    </div>
                    <div class="currency-content-left">
                      <span class="currency-name"
                        >Buy EUR <img src="./assets/images/flags/aus-flag.svg"
                      /></span>
                      <div class="c-rates">
                        <span>O.39</span> 14 <span>7</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="currency-card">
                  <div class="currency-header">
                    EUR GBP [XCEL] <a class="close-icon" href=""></a>
                  </div>
                  <div class="currency-content">
                    <div class="currency-content-left">
                      <span class="currency-name"
                        >SELL EUR <img src="./assets/images/flags/aus-flag.svg"
                      /></span>
                      <div class="c-rates text-danger">
                        <span>O.89</span> 19 <span>5</span>
                      </div>
                    </div>
                    <div class="currency-content-left">
                      <span class="currency-name"
                        >Buy EUR <img src="./assets/images/flags/aus-flag.svg"
                      /></span>
                      <div class="c-rates">
                        <span>O.39</span> 14 <span>7</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <div class="card">
          <div class="card-body">
            <select id="Client_dd" class="mb-3 w-50">
              <option selected>Choose Client</option>
              <option value="1">client1</option>
              <option value="2">client2</option>
              <option value="3">client3</option>
              <option value="4">client4</option>
            </select>
            <div class="currency-converter d-flex justify-content-between">
              <div class="left-dd">
                <label>Transaction Type</label>
                <select class="mb-3 oneborder-select arrow-custom">
                  <option selected>FX Conversation</option>
                  <option value="1">Option2</option>
                </select>
              </div>
              <div class="right-dd">
                <label>Trade Type</label>
                <select class="mb-3 oneborder-select arrow-custom">
                  <option selected>Buy</option>
                  <option value="1">Option2</option>
                </select>
              </div>
            </div>
            <div class="currency-dd">
              <div class="form-group mb-3">
                <label>Buy Currency</label>
                <div class="input-group-box">
                  <input
                    id="sending-amount"
                    type="number"
                    class="form-control"
                  />
                  <span class="currency-dd-block">
                    <div class="btn-grp">
                      <div id="btn-id">
                        <button
                          id="dropdown-toggle-buy"
                          class="btn btn-input dropdown-toggle"
                          type="button"
                          aria-expanded="false"
                        >
                          <span
                            class="text-start me-1 d-flex align-items-center"
                            ><img
                              class="me-2"
                              src="./assets/images/flags/usd.svg"
                              height="28"
                            />
                            <span>USD</span></span
                          >
                          <span class="arrow-dropdown ms-1"></span>
                        </button>
                      </div>
                      <ul id="dd-send" class="buy-m dropdown-menu" role="menu">
                        <li>
                          <a
                            ><span
                              ><img
                                class="me-2"
                                src="./assets/images/flags/usd.svg"
                                height="28"
                                alt="flag aud"
                              />AUD</span
                            ></a
                          >
                        </li>
                        <li>
                          <a
                            ><span
                              ><img
                                class="me-2"
                                src="./assets/images/flags/inr.svg"
                                height="28"
                                alt="flag hkd"
                              />INR</span
                            ></a
                          >
                        </li>
                      </ul>
                    </div>
                  </span>
                </div>
              </div>
              <div class="form-group mb-3">
                <label>Sell Currency</label>
                <div class="input-group-box">
                  <input
                    id="sending-amount"
                    type="number"
                    class="form-control"
                  />
                  <span class="currency-dd-block">
                    <div class="btn-grp">
                      <div id="btn-id">
                        <button
                          id="dropdown-toggle-sell"
                          class="btn btn-input dropdown-toggle"
                          type="button"
                          aria-expanded="false"
                        >
                          <span
                            class="text-start me-1 d-flex align-items-center"
                            ><img
                              class="me-2"
                              src="./assets/images/flags/php.svg"
                              height="28"
                            />
                            <span>AED</span></span
                          >
                          <span class="arrow-dropdown ms-1"></span>
                        </button>
                      </div>
                      <ul id="dd-sell" class="sell-m dropdown-menu" role="menu">
                        <li>
                          <a
                            ><span
                              ><img
                                class="me-2"
                                src="./assets/images/flags/usd.svg"
                                height="28"
                                alt="flag aud"
                              />AUD</span
                            ></a
                          >
                        </li>
                        <li>
                          <a
                            ><span
                              ><img
                                class="me-2"
                                src="./assets/images/flags/inr.svg"
                                height="28"
                                alt="flag hkd"
                              />INR</span
                            ></a
                          >
                        </li>
                      </ul>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h2 class="card-heading">Choose One Bank</h2>
                <div class="row">
                  <div class="col-md-12">
                    <div class="button-wrap">
                      <input
                        class="hidden radio-label"
                        type="radio"
                        name="bank-rates"
                        id="bank-one"
                        checked="checked"
                      />
                      <label class="button-label" for="bank-one">
                        <div class="bankimg">
                          <img src="./assets/images/crownagentbank.svg" />
                        </div>
                        <div class="bank-r">
                          <div class="main-rate">0.27221</div>
                          <div class="sub-rate">
                            3.62334 <small>usdaed</small>
                          </div>
                          <div class="subrate-inner">(1 aed=0.27221)</div>
                        </div>
                      </label>
                      <input
                        class="hidden radio-label"
                        type="radio"
                        name="bank-rates"
                        id="bank-two"
                      />
                      <label class="button-label" for="bank-two">
                        <div class="bankimg">
                          <img src="./assets/images/dbsbank.svg" />
                        </div>
                        <div class="bank-r">
                          <div class="main-rate">0.27221</div>
                          <div class="sub-rate">
                            3.62334 <small>usdaed</small>
                          </div>
                          <div class="subrate-inner">(1 aed=0.27221)</div>
                        </div>
                      </label>
                      <input
                        class="hidden radio-label"
                        type="radio"
                        name="bank-rates"
                        id="bank-three"
                      />
                      <label class="button-label" for="bank-three">
                        <div class="bankimg">
                          <img src="./assets/images/tkb.svg" />
                        </div>
                        <div class="bank-r">
                          <div class="main-rate">0.27221</div>
                          <div class="sub-rate">
                            3.62334 <small>usdaed</small>
                          </div>
                          <div class="subrate-inner">(1 aed=0.27221)</div>
                        </div>
                      </label>
                      <input
                        class="hidden radio-label"
                        type="radio"
                        name="bank-rates"
                        id="bank-four"
                      />
                      <label class="button-label" for="bank-four">
                        <div class="bankimg">
                          <img src="./assets/images/dukascopybank.svg" />
                        </div>
                        <div class="bank-r">
                          <div class="main-rate">0.27221</div>
                          <div class="sub-rate">
                            3.62334 <small>usdaed</small>
                          </div>
                          <div class="subrate-inner">(1 aed=0.27221)</div>
                        </div>
                      </label>
                      <input
                        class="hidden radio-label"
                        type="radio"
                        name="bank-rates"
                        id="bank-five"
                      />
                      <label class="button-label" for="bank-five">
                        <div class="bankimg">
                          <img src="./assets/images/scbank.svg" />
                        </div>
                        <div class="bank-r">
                          <div class="main-rate">0.27221</div>
                          <div class="sub-rate">
                            3.62334 <small>usdaed</small>
                          </div>
                          <div class="subrate-inner">(1 aed=0.27221)</div>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h2 class="card-heading">Value Date</h2>
              </div>
              <div class="col-md-12">
              <div class="valuedate-c">
                <input
                class="hidden radio-label"
                type="radio"
                name="bank-rates"
                id="home-btn"
              />
              <label class="value-button" for="home-btn">
             Home
              </label>
              <input
              class="hidden radio-label"
              type="radio"
              name="bank-rates"
              id="profile-btn"
            />
            <label class="value-button" for="profile-btn">
           Profile
            </label>
            <input
            class="hidden radio-label"
            type="radio"
            name="bank-rates"
            id="contact-btn"
          />
          <label class="value-button" for="contact-btn">
         Contact
          </label>
              </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-custom btn-blue">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-heading">FX history</h2>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Ref No</th>
                    <th scope="col">CC Pair</th>
                    <th scope="col">Trade ID</th>
                    <th scope="col">Execution Date/Time</th>
                    <th scope="col">Currency Buy/Sell</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Contra Amount</th>
                    <th scope="col">Division Rate</th>
                    <th scope="col">Trade Rate</th>
                    <th scope="col">Value Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">IN77808849</td>
                    <td>INR 52,451,000</td>
                    <td>USD 2,451,000</td>
                    <td>29 oct' 2021 02:34 PM</td>
                    <td>1 INR = USD 0.013</td>
                    <td>0.03435</td>
                    <td>12,3445.44</td>
                    <td>0.13344</td>
                    <td>29 oct' 2021</td>
                    <td>29 oct' 2021</td>
                  </tr>
                  <tr>
                    <td scope="row">IN77808849</td>
                    <td>INR 52,451,000</td>
                    <td>USD 2,451,000</td>
                    <td>29 oct' 2021 02:34 PM</td>
                    <td>1 INR = USD 0.013</td>
                    <td>0.03435</td>
                    <td>12,3445.44</td>
                    <td>0.13344</td>
                    <td>29 oct' 2021</td>
                    <td>29 oct' 2021</td>
                  </tr>
                  <tr>
                    <td scope="row">IN77808849</td>
                    <td>INR 52,451,000</td>
                    <td>USD 2,451,000</td>
                    <td>29 oct' 2021 02:34 PM</td>
                    <td>1 INR = USD 0.013</td>
                    <td>0.03435</td>
                    <td>12,3445.44</td>
                    <td>0.13344</td>
                    <td>29 oct' 2021</td>
                    <td>29 oct' 2021</td>
                  </tr>
                  <tr>
                    <td scope="row">IN77808849</td>
                    <td>INR 52,451,000</td>
                    <td>USD 2,451,000</td>
                    <td>29 oct' 2021 02:34 PM</td>
                    <td>1 INR = USD 0.013</td>
                    <td>0.03435</td>
                    <td>12,3445.44</td>
                    <td>0.13344</td>
                    <td>29 oct' 2021</td>
                    <td>29 oct' 2021</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
